<!DOCTYPE html>
<html>
  <style>
      .grid {
          width: 650px;
          height: 400px;
      }

      .header-filtered {
          color: blue;
      }
  </style>
  <head>
        <title>Receipe Book</title>

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.css">
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-ui-grid/ui-grid.js"></script>
        <link rel="stylesheet" href="lib/angular-ui-grid/ui-grid.css">
       <!--  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>  -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
        <script src="javascripts/receipeApp.js"></script>


    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.js"></script>
      <style>
          .myGrid {
              width: 800px;
              height: 250px;
          }
      </style>
  </head>
  <body ng-app="receipeApp" style="padding-left: 20px; padding-top: 20px;">
    <div ng-view>
    </div>
  </body>
</html>
