<div class="top">

    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch flex="40">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Search Receipes...</span>
                <span class="md-subhead"><input ng-model="search" placeholder="Filter Receipes"></span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="second" class="btn btn-info">Grid View</md-button>
            <md-button ui-sref="new" class="btn btn-success">New Receipe</md-button>
        </md-card-actions>
    </md-card>

    <br><br>

    <div ng-repeat="rec in returnedReceipe | filter:search" class="col-md-3">
        <!-- <div card></div> -->
        <card></card>
    </div>
</div>


