<style>
    .checkboxdemoSyncing .checkboxDemo1 div {
        clear: both; }

    .checkboxdemoSyncing legend {
        color: #3F51B5; }

    .checkboxdemoSyncing legend code {
        color: #3F51B5;
        font-weight: normal; }

    .checkboxdemoSyncing p {
        padding-left: 8px; }

    .checkboxdemoSyncing .info {
        padding-left: 13px; }

    .checkboxdemoSyncing div.standard {
        padding: 8px;
        padding-left: 15px; }

    .checkboxdemoSyncing fieldset.standard {
        border-style: solid;
        border-width: 1px;
        height: 100%; }

</style>
<div layout="row">
    <md-button flex="100" ng-click="postToMongo()" class="btn btn-danger" layout="column">Add This Receipe!</md-button>
</div>
<div layout="row">
    <md-card class="md-padding" layout="column" flex="50">
        <h1 class="md-display-2">Enter in a new receipe!</h1>
        <form ng-submit="postToMongo()">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Receipe Name</label>
                <input ng-model="receipeName">
            </md-input-container>
            <md-radio-group ng-model="receipeType" layout="row">
                <md-radio-button value="App">App</md-radio-button>
                <md-radio-button value="Entree">Entree</md-radio-button>
                <md-radio-button value="Dessert">Dessert</md-radio-button>
                <md-radio-button value="Side">Side</md-radio-button>
            </md-radio-group>
            <md-input-container class="md-block">
                <label>Receipe Description</label>
                <textarea ng-model="receipeDescription" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            <div>
                <div layout="row" layout-wrap="">
                    <div flex="100" flex-gt-sm="50" layout="column">
                        <div>
                            <fieldset class="standard">
                                <legend>Ingredients</legend>
                                <div layout="row" layout-wrap="" flex="">
                                    <div flex="50" ng-repeat="item in ingredients | orderBy">
                                        <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                            {{ item }}
                                        </md-checkbox>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div flex="100">
                        <h2 class="md-title">Add a new ingredient</h2>
                        <!--<code style="display: block; padding: 8px;">{{selected | json}}</code>-->
                    </div>
                </div>
            </div>
        </form>
        <md-input-container class="md-block">
            <label>Add a New Ingredient</label>
            <input ng-model="ingredient" md-select-on-focus><br><br>
            <button class="btn btn-success" ng-click="addNewIngredient()">Add New Ingredient</button>
        </md-input-container>
    </md-card>
    <div layout="column" flex="50">
            <md-card class="md-padding" layout="column">
                <h1 class="md-display-2">Tell me how..</h1>
                <label>Instructions: </label><br>
                <ol>
                    <li ng-repeat="inst in instructions">{{inst}}</li>
                </ol>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Next Step: </label>
                    <textarea  md-maxlength="150" rows="5" md-select-on-focus ng-model="instruction"></textarea><br><br><br>
                    <button class="btn btn-info" ng-click="addNewInstruction()">Add a New Step: </button>
                </md-input-container>
            </md-card>
            <md-card layout="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Receipe Image </label>
                    <input md-select-on-focus ng-model="receipePicture"></input><br><br><br>
                </md-input-container>
            </md-card>
        </div>
    </div>
</div>

<!--<button ui-sref="newIng" class="btn btn-success">Add Ingredient</button><br><br>-->
