<style>
    #myPic {
        width: 250px !important;
        height: 250px !important;
    }

    .md-block {
        margin: 20px 20px 20px 20px;
    }

    .myCheckBox {
        margin: 20px 20px 20px 20px;
    }

    .myCheckBox2 {
        margin-left: 20px;
    }
</style>
<div layout="row">
    <md-card flex="25">
        <h1 class="md-display-2" align="center">{{$root.singleReceipe.receipeName}}</h1>
        <div align="center"><img src="{{$root.singleReceipe.receipePicture}}" id="myPic"></div>
    </md-card>
    <md-card flex="50" style="">
        <md-input-container class="md-block" flex-gt-sm style="margin-top: 40px;">
            <label>Receipe Name </label>
            <input md-select-on-focus ng-model="$root.singleReceipe.receipeName"></input><br><br><br>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Receipe Description </label>
            <input md-select-on-focus ng-model="$root.singleReceipe.receipeDescription"></input><br><br><br>
        </md-input-container>
        <div class="myCheckBox">
            <div ng-repeat="item in ingredients | orderBy">
                <md-checkbox ng-checked="exists(item, $root.singleReceipe.receipeIngredients)" ng-click="toggle(item, $root.singleReceipe.receipeIngredients)">
                    {{ item }}
                </md-checkbox>
            </div>
        </div>
    </md-card>
</div>
<form ng-submit="updateReceipe()">
    <input ng-model="receipeName" value="Something" placeholder="Rename this receipe"><br>
    <input ng-model="receipeDescription" placeholder="Give a new description"><br>
    <input ng-model="receipePicture"><br>
    <h4>List of ingredients:</h4>
    <div ng-repeat="ing in $root.singleReceipe.receipeIngredients">
        <h4>{{ing}}</h4>
    </div>
    <input type="submit" value="Update Receipe">
</form><br>

<button class="btn btn-danger" ng-click="deleteReceipe($root.singleReceipe._id)">Delete This Receipe</button>

